* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,body {
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  color: #aaa;
  margin: 0;
  padding: 0;
  border: 0;
}
.bignbold {
	font-weight: 1000;
  font-size: 1.5rem;
  color: yellow;
}
h1,h2 {
  font-weight: 200;
  margin: 0.4rem 0;
  font-size: inherit;
}

h2 {
  color: #aaa;
  font-size: 2rem;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.hidden-text {
  opacity: 0;
  transition: 1s;
  transition-delay: 2s;
}

.bottom-text {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}


.left-box:hover {
  flex: 1 1 80%;
}

.left-box:hover .hidden-text {
  opacity: 1;
}

.right-box:hover {
  flex: 1 1 80%;
}

.right-box:hover .hidden-text {
  opacity: 1;
}

.right-box {
  position: relative;
  background: #aaa;
  color: #222;
  height: 100vh;
  padding: 1.5rem;
  flex: 1 1 50%; /* flex-grow, flex-shrink, flex-basis */
  /* flex-basis: 50%; */
  /* width: 50%; this works, as well */
  box-sizing: border-box;
  transition: flex 1s 1s;
}

.left-box {
  position: relative;
  background: #222;
  color: #aaa;
  height: 100vh;
  flex: 1 1 50%; /* flex-grow, flex-shrink, flex-basis */
  /* flex-basis: 50%; */
  /* width: 50%; this works, as well */
  box-sizing: border-box;
  padding: 1.5rem;
  transition: flex 1s 1s;
}

#profile-image {
  height: 200px;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  margin-top: -100px;
}

.circle {
  width: 400px;
  height: 400px;
  /* background: rgba(0, 0, 0, 0.2); */
  display: flex;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  margin-top: -200px;
  margin-right: -100px;
}

.menu {
  list-style-type: none;
  padding: 0;
  display:grid; /* use grid */
  margin:auto; /* center the menu with all the items */
    color: #222;
}

.menu li {
  --d:200px; /* distance from the center */
  grid-area:1/1; /* all of them at the same position (they overlap) */
  /* we rotate then translate to the edge then rotate again using the opposite rotation */
  transform:rotate(var(--r)) translateX(var(--d)) rotate(calc(-1*var(--r)));
}
.menu li:hover {
  color: yellow;
  transition: 1s;
}

/* adjust the angle for each icon */
.menu li:nth-child(1) { --r: -280deg;
  animation-delay: 1s;
} 
.menu li:nth-child(2) { --r: -240deg;
  animation-delay: 1.5;
} 


.menu li:nth-child(3) { --r:-200deg}
.menu li:nth-child(4) { --r:-160deg}
.menu li:nth-child(5) { --r:-120deg}
.menu li:nth-child(6) { --r:-80deg}

.menu li a {
  display: block;
}
.menu li a i {
  width: 50px;
}


@keyframes hide {
  0% {
    opacity: 0;
  }
}















@media only screen and (max-width: 600px) {
  .right-box {
    position: relative;
    width: 100%;
    padding: 20px;
  }
  .left-box {
    position: relative;
    width: 100%;
    padding: 20px;
  }
}